@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */

*::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}


/* Track */

*::-webkit-scrollbar-track {
    background: #0F172A;
    width: 10px;
    cursor: move;
}


/* Handle */

*::-webkit-scrollbar-thumb {
    background: #5EEAD4;
    border: 1px solid #5EEAD4;
}